/*Main Layout*/
.main-container{
    display: flex;
    flex-direction: column;

}
section{
    /*Border just temporary*/
    border: 2px black solid; 
    color: white;
    margin: 10px;
    padding: 10px;
}
.main-categories{

}
.fitness-categories{

}
.navigation{
    display: flex;
    flex-direction: row;
}
.footer{

}
/*Styling*/
body{
    background-image: linear-gradient(to bottom right, rgb(19, 9, 58), rgb(26, 15, 234), rgb(187, 214, 255));
    
    }
   
h1{
    font-family: 'Bebas Neue';
    font-size: 3rem;
    color: white;
}
h2{
    font-size: 2rem;
    color: white;

}
h3{
    font-size: 1.5rem;
}
p{
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
}
.menu-Btn{
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-weight: 600;
    color: rgb(72, 76, 122);
    font-size: 14px;
    height: 38px;
    width: 150px;
    padding: 8px 24px;
    margin: 5px;
    border-radius: 50px;
    background-image: linear-gradient(180deg,#fff,#f5f5fa);
    box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
    transition: all .2s ease-out;
    :hover{
        box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);
    }
    


}
.form-Btn{

}
li{
    list-style: none;
}
.logo{
    width: 150px;
}
img {
    max-width: 100%;
    height: auto;
  }
  a {
    color: white;
    
  }
/*Functionality*/
.hidden-Btn{
    display: none;
}